crud.pool.name=ekb.connectionPool
crud.driver.name=oracle.jdbc.driver.OracleDriver
crud.connection.url=jdbc:oracle:thin:@192.168.50.30:1521:GIVCDB
crud.connection.usr=GIVCADMIN
crud.connection.pwd=j12
#crud.min.pool.size=2
#crud.max.pool.size=10
crud.connection.wait.timeout=15
#crud.initial.pool.size=5
#crud.current.schema=GIVCAPI
