<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date{dd.MM.yyyy HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/bio4j-osgi.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logs/bio4j-osgi.log-%d{yyyy-MM-dd}.zip</FileNamePattern>
			<maxHistory>21</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%date{dd.MM.yyyy HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</encoder>
	</appender>

	<logger name="net.sf.ehcache" level="ERROR" />

	<root level="info">
		<appender-ref ref="FILE" />
	</root>
</configuration>