<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date{dd.MM.yyyy HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/bio4j.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>log/bio4j.log-%d{yyyy-MM-dd}.zip</FileNamePattern>
			<maxHistory>21</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%date{dd.MM.yyyy HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</encoder>
	</appender>

    <appender name="SYS-LOG-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return logger.startsWith("ru.bio4j");</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>

        <file>log/server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/server.log-%d{yyyy-MM-dd}.zip</FileNamePattern>
            <maxHistory>21</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%date{yyyy.MM.dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="BIO-LOG-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/bio4j.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/bio4j.log-%d{yyyy-MM-dd}.zip</FileNamePattern>
            <maxHistory>21</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%date{yyyy.MM.dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="net.sf.ehcache" level="ERROR" />
    <logger name="com.google.code.morphia" level="ERROR" />
    <logger name="ru.bio4j" level="DEBUG">
        <appender-ref ref="BIO-LOG-FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SYS-LOG-FILE" />
    </root>

</configuration>