<script type="text/javascript">
	var pluginRoot = '${pluginRoot}';
	var pluginLabel = '${pluginLabel}';
</script>
<script type="text/javascript" src="${pluginRoot}/res/ui/rabbitmq-monitor.js"></script>
<br />
<div>
	<div>
		<div class="ui-widget-header ui-corner-top ui-corner-bottom buttonGroup">
			<button id="reloadCacheButton" onclick="loadStatistics();" type="button">Reload</button>
		</div>
		<br/>
		<ul>
			<li><b>Connection</b>
				<ul id="connection" style="padding-left: 10px;"></ul>
			</li>
			<li><br/></li>
			<li><b>RabbitMQ Server Properties</b>
				<ul id="serverProperties" style="padding-left: 10px;"></ul>
			</li>
			<li><br/></li>
			<li><b>Queues</b>
				<ul id="queues" style="padding-left: 10px;"></ul>
			</li> 
		</ul>
	</div>
</div>
