crud.pool.name=cmon.connectionPool
crud.driver.name=oracle.jdbc.driver.OracleDriver
crud.connection.url=jdbc:oracle:thin:@cmon-ora-dev:1521:MICEXDB
crud.connection.usr=CMONAS
crud.connection.pwd=qwe
crud.min.pool.size=2
crud.max.pool.size=5
crud.connection.wait.timeout=15
crud.initial.pool.size=3
crud.current.schema=CMONAPI
